# Everything
/*

# Except this:
## Gitignore
!.gitignore
## Settings
### git global configuration file
!.gitconfig
### ZSH config file
!.zshrc

### folder with custom scripts
!/bin

!/.config
/.config/*
### terminal color themes
!/.config/terminal_color_themes
!/.config/terminal_colors
