# Everything
/*

# Except this:
## Gitignore
!.gitignore
## Settings
### git global configuration file
!.gitconfig

### X resource file
!.Xresources
### ZSH config file
!.zshrc
### vim config file
!.vimrc

### folder with custom scripts
!/bin

!/.config
/.config/*
### terminal color themes
!/.config/terminal_color_themes
!/.config/terminal_colors
