! Xresources file
#include "./.config/base16-xresources/base16-default.dark.256.xresources"

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault

Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight

! URxvt settings -------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! Handle bell character
URxvt.urgentOnBell:         true
! URxvt as login shell
URxvt.loginShell:           true
! Padding around terminal text
URxvt.internalBorder:       10

! Fonts
URxvt.allow_bold:           true
URxvt*font:                 xft:Monaco:pixelsize=13
URxvt*boldFont:             xft:Monaco:bold:pixelsize=13

! Font space - distance between characters
URxvt.letterSpace:          -1

! Number of lines saved in scrollback bufer
URxvt.saveLines:            65535

! Scrollbar
URxvt.scrollStyle:          plain
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Make cursor blinking and underline
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true

! Blank the pointer when moving or after inactivity
URxvt.pointerBlank:         true
